<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">CEASA DEVCEASA</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a th:href="@{/ceasadev/grupos/cadastrar}"> Grupo</a></li>
				<li><a href="#">Subgrupo</a></li>
				<li><a href="#">Produto</a></li>
			</ul>
			<button class="btn btn-danger navbar-btn">Button</button>
		</div>
	</nav>
<body>

	<section class="layout-content" layout:fragment="corpo">
	<div class="container">
		
		<div th:replace="fragments/alert"></div>
			
			<form th:action="${grupo.id==null} ? @{/ceasadev/grupos/salvar} : @{/ceasadev/grupos/editar}"
				th:object="${grupo}" method="POST">
			 
			 <div th:replace="fragments/validacao :: validacao"></div>
					
					
				<div class="form-group">
					<div class="form-group col-md-6">
						
						<input type="text" 	class="form-control" id="nome" placeholder="Nome Grupo"
							autofocus="autofocus" th:field="*{nome}" />
							
					</div>
				</div>
				
				
				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
				

			</form>
			 </div>
		
 <h6>Lista de Grupos</h6>
    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Nome do Grupo</th>
            
        </tr>
        <!-- Use Thymeleaf loop para exibir grupos -->
        <tr th:each="grupo : ${grupos}">
            <td th:text="${grupo.id}"></td>
            <td th:text="${grupo.nome}"></td>
           
       
        </tr>
    </table>

	</section>
	
	

</body>
</html>