<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CRUD de Grupos e Produtos</title>
</head>

<body>
    <h1>CRUD de Grupos e Produtos</h1>

    <h2>Lista de Grupos</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome do Grupo</th>
            <th>Opções</th>
        </tr>
        <!-- Use Thymeleaf loop para exibir grupos -->
        <tr th:each="grupo : ${grupos}">
            <td th:text="${grupo.id}"></td>
            <td th:text="${grupo.nome}"></td>
            <td>
                <a th:href="@{/editarGrupo/{id}(id=${grupo.id})}">Editar</a>
                <a th:href="@{/excluirGrupo/{id}(id=${grupo.id})}">Excluir</a>
            </td>
        </tr>
    </table>

    <h2>Lista de Subgrupos</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome do Subgrupo</th>
            <th>Opções</th>
        </tr>
        <!-- Use Thymeleaf loop para exibir produtos -->
        <tr th:each="subgrupo : ${subgrupos}">
            <td th:text="${subgrupo.id}"></td>
            <td th:text="${subgrupo.nome}"></td>
            <td>
                <a th:href="@{/editarSubgrupo/{id}(id=${subgrupo.id})}">Editar</a>
                <a th:href="@{/excluirSubgrupo/{id}(id=${subgrupo.id})}">Excluir</a>
            </td>
        </tr>
    </table>

    <h2>Adicionar Novo Grupo</h2>
    <form th:action="@{/adicionarGrupo}" method="post">
        <label>Nome do Grupo: <input type="text" name="nome" /></label>
        <input type="submit" value="Adicionar" />
    </form>

    <h2>Adicionar Novo Subgrupo</h2>
    <form th:action="@{/adicionarSubgrupo}" method="post">
        <label>Nome do Subgrupo: <input type="text" name="nome" /></label>
        <input type="submit" value="Adicionar" />
    </form>
</body>

</html>
